.skills__section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.skills__section > div{
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.skills__section > div:hover{
    background: transparent;
    border-color: var(--color-primary-variant);
}
.skills__section > div h3{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}
.frontend__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}
.backend__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}
.skills__details{
    display: flex;
    gap: 1rem;
}