.navbar__page{
    display: flex;
    justify-content: space-between;
}

.navbar__links {
    display: flex;
    gap: 1.5rem;
    margin: 25px 50px;
    font-size: 1.2rem;

}

.logo{
    display: flex;
    margin-left: 2rem;

}

.hamburger__menu{
    margin: 20px 50px;
    color: aqua;
    width: 30px;
    display: none;

}

@media screen and (max-width: 1024px) {
    .navbar__page{
        width: 90%;
        gap: 0;
        left: -100%;
    }
    .navbar__links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .navbar__links.active{
        left: -100%;

    }

    .hamburger__menu{
        display: initial;
    }
    }